<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">RR</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.RR" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">DD/MM/YYYY</label>
            <input type="date" [value]="imageMetaDataForEdit.rawDateInput | date:'yyyy-MM-dd'" (input)="imageMetaDataForEdit.rawDateInput=parseDate($event)">
        </div>
        <div class="form-group">
            <label for="">Equipment</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Equipment" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Builder</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Builder" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Model</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Model" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Dir</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Dir" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">City</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Location" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">State</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.State" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Scan Tech</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.ScanTech" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Photo Type</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Type" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Photographer's Name</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.PhotographersName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Collection</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Collection" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Owner</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Owner" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group mb-2">
            <label for="">Notes</label>
            <textarea id="" cols="30" rows="6" [(ngModel)]="imageMetaDataForEdit.data.Notes" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="form-group">
            <label for="">Published</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.Published" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.ID" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">File</label>
            <input type="text" [(ngModel)]="imageMetaDataForEdit.data.File" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        
    </div>
</div>